In [1]:
import pandas as pd
import os

In [2]:
file_path = "../raw_data/travel_arrivals.csv"

# read csv and 'cut' data rows, columns and footer to desired data
data = pd.read_csv(file_path, encoding = 'ISO-8859-1', header=7, index_col = 1, skipfooter=7)
data_df = pd.DataFrame(data)

#Note, the data has been 
#(a) Country of citizenship classification and codes are from the: 
#Standard Australian Classification of Countries (SACC), 2016 (cat. no. 1269.0)
#(b) To confidentialise, estimates have been rounded to the nearest 10. As a result, sums of the components may not add exactly to totals.
data.head()

<ipython-input-2-b984e21b8427>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(file_path, encoding = 'ISO-8859-1', header=7, index_col = 1, skipfooter=7)

,SACC code(a),Sep-2016,Oct-2016,Nov-2016,Dec-2016,Jan-2017,Feb-2017,Mar-2017,Apr-2017,May-2017,...,Mar-2020,Apr-2020,May-2020,Jun-2020,Jul-2020,Aug-2020,Sep-2020,Oct-2020,Nov-2020,Unnamed: 53
Country of citizenship(a),,,,,,,,,,,,,,,,,,,,,
Australia,1101.0,"788,680","907,430","649,150","647,520","1,049,590","622,860","605,580","773,900","676,120",...,"476,430","15,060","11,110","14,070","10,700","8,790","8,900","12,280","15,500",NaN
Norfolk Island,1102.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
Australian External Territories nec,1199.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
New Zealand,1201.0,"166,800","176,580","144,860","162,290","174,900","127,510","150,080","164,100","141,450",...,"83,570","1,180","2,320","2,740","1,540","1,130","1,210","2,460","3,710",NaN
New Caledonia,1301.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [3]:
# Transpose data
data_df = data_df.T
data_df.head()

Country of citizenship(a),Australia,Norfolk Island,Australian External Territories nec,New Zealand,New Caledonia,Papua New Guinea,Solomon Islands,Vanuatu,Guam,Kiribati,...,Seychelles,Somalia,South Africa,Eswatini,Tanzania,Uganda,Zambia,Zimbabwe,"S & E Afr, nec",Inadequately Described
SACC code(a),1101,1102,1199,1201,1301,1302,1303,1304,1401,1402,...,9223,9224,9225,9226,9227,9228,9231,9232,9299,NaN
Sep-2016,"788,680",0,0,"166,800",0,"3,420",550,470,0,70,...,50,30,"5,730",0,80,50,100,490,0,"2,280"
Oct-2016,"907,430",0,0,"176,580",0,"3,300",500,570,0,100,...,30,40,"5,850",0,70,70,90,470,0,"3,330"
Nov-2016,"649,150",0,0,"144,860",0,"3,290",660,640,0,100,...,30,40,"5,810",0,70,60,80,470,0,740
Dec-2016,"647,520",0,0,"162,290",0,"5,350",750,440,0,80,...,110,20,"11,250",10,90,100,120,810,0,530

In [4]:
# Drop row 1 - 'SACC code(a)'
data_df = data_df.drop(["SACC code(a)"])
data_df

Country of citizenship(a),Australia,Norfolk Island,Australian External Territories nec,New Zealand,New Caledonia,Papua New Guinea,Solomon Islands,Vanuatu,Guam,Kiribati,...,Seychelles,Somalia,South Africa,Eswatini,Tanzania,Uganda,Zambia,Zimbabwe,"S & E Afr, nec",Inadequately Described
Sep-2016,"788,680",0,0,"166,800",0,"3,420",550,470,0,70,...,50,30,"5,730",0,80,50,100,490,0,"2,280"
Oct-2016,"907,430",0,0,"176,580",0,"3,300",500,570,0,100,...,30,40,"5,850",0,70,70,90,470,0,"3,330"
Nov-2016,"649,150",0,0,"144,860",0,"3,290",660,640,0,100,...,30,40,"5,810",0,70,60,80,470,0,740
Dec-2016,"647,520",0,0,"162,290",0,"5,350",750,440,0,80,...,110,20,"11,250",10,90,100,120,810,0,530
Jan-2017,"1,049,590",0,0,"174,900",0,"4,130",620,560,0,80,...,50,30,"6,700",0,120,110,170,790,0,450
Feb-2017,"622,860",0,0,"127,510",0,"2,730",380,350,0,100,...,40,30,"4,870",10,110,90,140,610,0,"1,010"
Mar-2017,"605,580",0,0,"150,080",0,"3,000",480,440,0,100,...,30,40,"5,980",10,60,70,140,470,0,"1,270"
Apr-2017,"773,900",0,0,"164,100",0,"3,250",480,430,0,60,...,40,30,"7,250",10,80,110,100,640,0,"2,560"
May-2017,"676,120",0,0,"141,450",0,"2,880",530,450,0,150,...,20,30,"4,590",0,40,70,80,430,0,"1,150"
Jun-2017,"676,380",0,0,"142,830",0,"2,750",470,340,0,150,...,30,40,"4,920",0,50,50,90,420,0,"2,050"
Jul-2017,"966,250",0,0,"171,920",0,"3,970",510,350,0,80,...,40,30,"5,910",0,90,70,130,560,0,"3,990"
Aug-2017,"769,970",0,0,"153,180",0,"2,880",360,650,0,70,...,20,40,"4,900",0,80,50,110,470,0,"1,270"
Sep-2017,"844,820",0,0,"159,110",0,"4,320",590,800,0,140,...,20,30,"6,060",10,60,70,120,490,0,"4,210"
Oct-2017,"954,220",0,0,"181,600",0,"3,200",680,730,0,140,...,30,40,"5,750",0,70,80,110,520,0,820
Nov-2017,"680,850",0,0,"149,720",0,"3,400",600,760,0,180,...,20,30,"5,920",10,60,50,90,470,0,780
Dec-2017,"660,800",0,0,"160,570",0,"4,520",730,640,0,80,...,80,30,"11,980",10,90,80,110,820,0,360
Jan-2018,"1,106,970",0,0,"175,200",0,"3,890",620,600,0,100,...,60,10,"6,860",10,120,140,200,820,0,460
Feb-2018,"606,790",0,0,"124,890",0,"2,540",460,360,0,100,...,50,20,"4,960",10,130,90,130,550,0,610
Mar-2018,"649,940",0,0,"153,080",0,"2,810",480,560,0,150,...,80,40,"7,150",10,100,120,120,460,0,820
Apr-2018,"798,650",0,0,"156,820",0,"3,200",560,530,0,110,...,60,20,"6,590",20,80,180,130,470,0,"2,060"
May-2018,"715,890",0,0,"142,650",0,"2,480",610,600,0,250,...,30,20,"4,780",10,30,130,90,400,0,"1,040"
Jun-2018,"713,730",0,0,"146,000",0,"2,920",560,550,0,190,...,20,30,"5,780",0,60,70,90,420,0,"1,300"
Jul-2018,"1,017,380",0,0,"171,570",0,"3,470",550,460,0,140,...,40,40,"5,820",10,90,90,140,610,0,"1,720"
Aug-2018,"811,120",0,0,"161,640",0,"2,880",430,820,0,90,...,30,20,"5,360",10,70,70,130,700,0,980
Sep-2018,"859,310",0,0,"164,430",0,"3,280",630,"1,200",0,120,...,30,40,"6,540",10,80,110,120,490,0,"2,310"
Oct-2018,"1,013,830",0,0,"182,660",0,"3,070",550,850,0,180,...,30,40,"6,280",0,70,70,120,530,0,"2,550"
Nov-2018,"711,460",0,0,"153,420",0,"3,350",670,900,0,120,...,40,20,"6,410",0,60,150,110,450,0,970
Dec-2018,"691,500",0,0,"160,360",0,"4,550",850,680,0,140,...,110,30,"12,350",10,100,80,170,"1,010",0,530
Jan-2019,"1,151,960",0,0,"178,550",0,"3,840",690,630,0,170,...,50,40,"7,530",0,120,120,170,930,0,420
Feb-2019,"629,280",0,0,"130,990",0,"2,780",440,700,0,140,...,30,20,"5,200",0,110,90,120,540,0,590
Mar-2019,"654,110",0,0,"150,370",0,"2,890",440,710,0,100,...,50,40,"6,680",0,80,70,90,460,0,"1,300"
Apr-2019,"809,630",0,0,"163,130",0,"3,500",460,690,0,100,...,20,20,"7,250",10,70,110,90,600,0,"2,100"
May-2019,"750,600",0,0,"152,810",0,"3,060",610,"1,060",0,260,...,40,30,"5,110",10,60,70,100,470,0,"1,110"
Jun-2019,"739,530",0,0,"144,970",0,"3,300",560,810,0,180,...,30,20,"5,870",0,70,60,80,510,0,"1,340"
Jul-2019,"1,009,170",0,0,"171,860",0,"3,940",660,600,0,120,...,40,30,"5,760",10,80,90,120,590,0,"4,250"
Aug-2019,"823,500",0,0,"163,330",0,"3,500",460,900,0,120,...,20,40,"5,590",0,70,50,110,570,0,"1,260"
Sep-2019,"873,520",0,0,"166,900",0,"3,610",630,"1,400",0,140,...,30,40,"6,740",10,80,90,120,600,0,"2,220"
Oct-2019,"1,013,740",0,0,"186,600",0,"3,720",730,"1,130",0,150,...,40,20,"6,360",0,70,70,120,510,0,"2,500"
Nov-2019,"746,080",0,0,"157,990",0,"3,530",720,"1,220",0,190,...,30,30,"6,720",10,80,70,110,560,0,920
Dec-2019,"709,350",0,0,"176,600",0,"4,290",690,780,0,190,...,110,20,"13,260",10,120,70,180,"1,070",0,400
Jan-2020,"1,160,610",0,0,"179,540",0,"3,890",620,"1,050",0,110,...,50,50,"7,790",0,120,120,160,800,0,650
Feb-2020,"664,990",0,0,"130,230",0,"2,670",490,810,0,110,...,40,40,"5,550",10,80,100,160,650,0,550
Mar-2020,"476,430",0,0,"83,570",0,"1,540",240,430,0,60,...,10,20,"4,070",0,50,40,50,340,0,710
Apr-2020,"15,060",0,0,"1,180",0,40,0,0,0,0,...,0,0,170,0,0,0,0,0,0,40
May-2020,"11,110",0,0,"2,320",0,60,0,0,0,0,...,0,10,170,0,0,0,0,10,0,50
Jun-2020,"14,070",0,0,"2,740",0,60,0,0,0,0,...,0,0,330,0,0,0,0,10,0,560
Jul-2020,"10,700",0,0,"1,540",0,70,10,0,0,0,...,0,0,50,0,0,0,0,10,0,580
Aug-2020,"8,790",0,0,"1,130",0,30,0,0,0,0,...,0,0,100,0,0,0,10,0,0,200
Sep-2020,"8,900",0,0,"1,210",0,60,0,170,0,0,...,0,0,80,0,0,0,0,10,0,250
Oct-2020,"12,280",0,0,"2,460",0,60,10,170,0,60,...,0,0,290,0,10,0,10,10,0,370
Nov-2020,"15,500",0,0,"3,710",0,60,180,10,0,0,...,0,0,380,0,0,10,0,40,0,120
Unnamed: 53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# drop last row
data_df = data_df.iloc[:-1]
data_df

Country of citizenship(a),Australia,Norfolk Island,Australian External Territories nec,New Zealand,New Caledonia,Papua New Guinea,Solomon Islands,Vanuatu,Guam,Kiribati,...,Seychelles,Somalia,South Africa,Eswatini,Tanzania,Uganda,Zambia,Zimbabwe,"S & E Afr, nec",Inadequately Described
Sep-2016,"788,680",0,0,"166,800",0,"3,420",550,470,0,70,...,50,30,"5,730",0,80,50,100,490,0,"2,280"
Oct-2016,"907,430",0,0,"176,580",0,"3,300",500,570,0,100,...,30,40,"5,850",0,70,70,90,470,0,"3,330"
Nov-2016,"649,150",0,0,"144,860",0,"3,290",660,640,0,100,...,30,40,"5,810",0,70,60,80,470,0,740
Dec-2016,"647,520",0,0,"162,290",0,"5,350",750,440,0,80,...,110,20,"11,250",10,90,100,120,810,0,530
Jan-2017,"1,049,590",0,0,"174,900",0,"4,130",620,560,0,80,...,50,30,"6,700",0,120,110,170,790,0,450
Feb-2017,"622,860",0,0,"127,510",0,"2,730",380,350,0,100,...,40,30,"4,870",10,110,90,140,610,0,"1,010"
Mar-2017,"605,580",0,0,"150,080",0,"3,000",480,440,0,100,...,30,40,"5,980",10,60,70,140,470,0,"1,270"
Apr-2017,"773,900",0,0,"164,100",0,"3,250",480,430,0,60,...,40,30,"7,250",10,80,110,100,640,0,"2,560"
May-2017,"676,120",0,0,"141,450",0,"2,880",530,450,0,150,...,20,30,"4,590",0,40,70,80,430,0,"1,150"
Jun-2017,"676,380",0,0,"142,830",0,"2,750",470,340,0,150,...,30,40,"4,920",0,50,50,90,420,0,"2,050"
Jul-2017,"966,250",0,0,"171,920",0,"3,970",510,350,0,80,...,40,30,"5,910",0,90,70,130,560,0,"3,990"
Aug-2017,"769,970",0,0,"153,180",0,"2,880",360,650,0,70,...,20,40,"4,900",0,80,50,110,470,0,"1,270"
Sep-2017,"844,820",0,0,"159,110",0,"4,320",590,800,0,140,...,20,30,"6,060",10,60,70,120,490,0,"4,210"
Oct-2017,"954,220",0,0,"181,600",0,"3,200",680,730,0,140,...,30,40,"5,750",0,70,80,110,520,0,820
Nov-2017,"680,850",0,0,"149,720",0,"3,400",600,760,0,180,...,20,30,"5,920",10,60,50,90,470,0,780
Dec-2017,"660,800",0,0,"160,570",0,"4,520",730,640,0,80,...,80,30,"11,980",10,90,80,110,820,0,360
Jan-2018,"1,106,970",0,0,"175,200",0,"3,890",620,600,0,100,...,60,10,"6,860",10,120,140,200,820,0,460
Feb-2018,"606,790",0,0,"124,890",0,"2,540",460,360,0,100,...,50,20,"4,960",10,130,90,130,550,0,610
Mar-2018,"649,940",0,0,"153,080",0,"2,810",480,560,0,150,...,80,40,"7,150",10,100,120,120,460,0,820
Apr-2018,"798,650",0,0,"156,820",0,"3,200",560,530,0,110,...,60,20,"6,590",20,80,180,130,470,0,"2,060"
May-2018,"715,890",0,0,"142,650",0,"2,480",610,600,0,250,...,30,20,"4,780",10,30,130,90,400,0,"1,040"
Jun-2018,"713,730",0,0,"146,000",0,"2,920",560,550,0,190,...,20,30,"5,780",0,60,70,90,420,0,"1,300"
Jul-2018,"1,017,380",0,0,"171,570",0,"3,470",550,460,0,140,...,40,40,"5,820",10,90,90,140,610,0,"1,720"
Aug-2018,"811,120",0,0,"161,640",0,"2,880",430,820,0,90,...,30,20,"5,360",10,70,70,130,700,0,980
Sep-2018,"859,310",0,0,"164,430",0,"3,280",630,"1,200",0,120,...,30,40,"6,540",10,80,110,120,490,0,"2,310"
Oct-2018,"1,013,830",0,0,"182,660",0,"3,070",550,850,0,180,...,30,40,"6,280",0,70,70,120,530,0,"2,550"
Nov-2018,"711,460",0,0,"153,420",0,"3,350",670,900,0,120,...,40,20,"6,410",0,60,150,110,450,0,970
Dec-2018,"691,500",0,0,"160,360",0,"4,550",850,680,0,140,...,110,30,"12,350",10,100,80,170,"1,010",0,530
Jan-2019,"1,151,960",0,0,"178,550",0,"3,840",690,630,0,170,...,50,40,"7,530",0,120,120,170,930,0,420
Feb-2019,"629,280",0,0,"130,990",0,"2,780",440,700,0,140,...,30,20,"5,200",0,110,90,120,540,0,590
Mar-2019,"654,110",0,0,"150,370",0,"2,890",440,710,0,100,...,50,40,"6,680",0,80,70,90,460,0,"1,300"
Apr-2019,"809,630",0,0,"163,130",0,"3,500",460,690,0,100,...,20,20,"7,250",10,70,110,90,600,0,"2,100"
May-2019,"750,600",0,0,"152,810",0,"3,060",610,"1,060",0,260,...,40,30,"5,110",10,60,70,100,470,0,"1,110"
Jun-2019,"739,530",0,0,"144,970",0,"3,300",560,810,0,180,...,30,20,"5,870",0,70,60,80,510,0,"1,340"
Jul-2019,"1,009,170",0,0,"171,860",0,"3,940",660,600,0,120,...,40,30,"5,760",10,80,90,120,590,0,"4,250"
Aug-2019,"823,500",0,0,"163,330",0,"3,500",460,900,0,120,...,20,40,"5,590",0,70,50,110,570,0,"1,260"
Sep-2019,"873,520",0,0,"166,900",0,"3,610",630,"1,400",0,140,...,30,40,"6,740",10,80,90,120,600,0,"2,220"
Oct-2019,"1,013,740",0,0,"186,600",0,"3,720",730,"1,130",0,150,...,40,20,"6,360",0,70,70,120,510,0,"2,500"
Nov-2019,"746,080",0,0,"157,990",0,"3,530",720,"1,220",0,190,...,30,30,"6,720",10,80,70,110,560,0,920
Dec-2019,"709,350",0,0,"176,600",0,"4,290",690,780,0,190,...,110,20,"13,260",10,120,70,180,"1,070",0,400
Jan-2020,"1,160,610",0,0,"179,540",0,"3,890",620,"1,050",0,110,...,50,50,"7,790",0,120,120,160,800,0,650
Feb-2020,"664,990",0,0,"130,230",0,"2,670",490,810,0,110,...,40,40,"5,550",10,80,100,160,650,0,550
Mar-2020,"476,430",0,0,"83,570",0,"1,540",240,430,0,60,...,10,20,"4,070",0,50,40,50,340,0,710
Apr-2020,"15,060",0,0,"1,180",0,40,0,0,0,0,...,0,0,170,0,0,0,0,0,0,40
May-2020,"11,110",0,0,"2,320",0,60,0,0,0,0,...,0,10,170,0,0,0,0,10,0,50
Jun-2020,"14,070",0,0,"2,740",0,60,0,0,0,0,...,0,0,330,0,0,0,0,10,0,560
Jul-2020,"10,700",0,0,"1,540",0,70,10,0,0,0,...,0,0,50,0,0,0,0,10,0,580
Aug-2020,"8,790",0,0,"1,130",0,30,0,0,0,0,...,0,0,100,0,0,0,10,0,0,200
Sep-2020,"8,900",0,0,"1,210",0,60,0,170,0,0,...,0,0,80,0,0,0,0,10,0,250
Oct-2020,"12,280",0,0,"2,460",0,60,10,170,0,60,...,0,0,290,0,10,0,10,10,0,370
Nov-2020,"15,500",0,0,"3,710",0,60,180,10,0,0,...,0,0,380,0,0,10,0,40,0,120

In [6]:
# export data
data_df.to_csv("../output_data/tourism_arrivals_data.csv", index = False)